.game{
    width: 250px;
    height: 200px;
    text-align: center;
    border-radius: 5px;
}

.heading{
    margin: 5px;
    padding: 5px;
}

.img{
    margin-top: 30px;
    height: 60%;
    width: 60%;
}